@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{display: none;}
    menu#itens{
         display: block;
         text-align: left;
         margin: 0px 10px;
            }
    menu>ul>li{
        display: inline-block;
    }
    menu>ul>li>a{
        margin-right: 10px;
        border-radius: 5px;
        background-color: transparent;
        color: black;
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
    }
    main{
        max-width: 768px;
    }

}