@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body,html{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-color: rgb(175, 174, 174);
    color: black;
    font-weight: bold;
}
h1{
    padding: 20px;
}
h2{
    padding: 10px;
}
a{
    text-align: center;
    background-color: rgb(61, 60, 60);
    display: block;
    padding: 10px;
    border-top:2px solid rgb(175, 174, 174);
    color: white;
    text-decoration: none;
}
#burguer{
    background-color: white;
    padding: 8px;
    display: block;
}
#burguer:hover{
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}
#itens{
    display: none;
}
li{
    list-style-type: none;
}
main{
    width: 90vw;
    background-color: white;
    padding: 10px;
    margin: 20px auto auto auto;
    border-radius: 10px;
    text-align: center;

}